.bannarbg {
    background-image: url("../../../../images/bannerbackground.png");
    background-size: 100%;
    background-size: cover;
    height: 80vh;
    background-repeat: no-repeat;
    background-color: white;
}
.search-box {
    color: #ffffff;
    background-color: #f91944;
    padding-left: 20px;
    padding-right: 20px;
}
